<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840883835055-k91pen2ffpgkhknfndtgl6pfr2ptcvcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840883835055-k91pen2ffpgkhknfndtgl6pfr2ptcvcq</string>
	<key>API_KEY</key>
	<string>AIzaSyByfrhRHhwOKwt1RktlI9tY52r6IJgipBA</string>
	<key>GCM_SENDER_ID</key>
	<string>840883835055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.vanyushais.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f5a18</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f5a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840883835055:ios:2fb01eacc9e890c6a2445a</string>
</dict>
</plist>